/*==GLOBAL STYLES==*/

* {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

body {
    margin: 0;
    min-height: 100vh;
    background-color: #1E1E1E;
    background-image: url("Taples slike/background.png");
    background-repeat: repeat-y;
    background-size: 100% 1500px;
    background-position: -290px 70px;
}

.highlight {
    color: #EEBA2B;
}

h1 {
    color: #CBA848;
}

.sectionHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sectionHeader h1 {
    font-size: 64px;
}

/*==NAVIGATION==*/

nav {
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 75px;
    position: fixed;
    width: 100%;
    z-index: 100;
}

nav a {
    font-weight: 400;
    color: #848484;
    text-decoration: none;
}

#nextPageLinkDiv {
    position: relative;
    background-color: #3AAFD6;
    padding: 30px;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    left: 150px;
    bottom: 30px;
    z-index: 100;
}

#nextPageLink {
    position: relative;
    color: white;
    font-size: 10px;
    left: -15px;
    top: 15px;
}

nav img {
    height: 100px;
}

/*==LANDING PAGE==*/

.landingPage {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    padding-top: 75px;
}

.landingPageHeading {
    position: relative;
    z-index: 2;
    margin-left: 10%;
    margin-bottom: 30%;
    max-width: 600px;
}

.landingPageHeading h1 {
    color: #EEBA2B;
    font-size: 64px;
    line-height: 1.1;
    margin-bottom: 0px;
}

.landingPageHeading p {
    color: #E74C3C;
    font-family: "Satisfy", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
}

/*==LANDING PAGE IMAGES==*/

.landingPageImg1 {
    position: absolute;
    top: 70%;
    right: -5%;
    transform: translateY(-50%);
    z-index: 1;
}

.landingPageImg1 img {
    height: clamp(600px, 55vw, 900px);
    width: clamp(600px, 55vw, 900px);
    border: 15px solid white;
    border-radius: 50%;
    object-fit: cover;
    filter: grayscale(100%);
}

.landingPageImg2 {
    position: absolute;
    bottom: -20%;
    left: -5%;
    z-index: 1;
}

.landingPageImg2 img {
    height: clamp(350px, 35vw, 550px);
    width: clamp(350px, 35vw, 550px);
    border: 10px solid white;
    border-radius: 50%;
    object-fit: cover;
    filter: grayscale(100%);
}

/*==PREDSTAVITEV==*/

.predstavitev {
    position: relative;
}

.predstavitev p, #img1, #img2, #img3, #line1, #line2, #line3 {
    position: absolute;
}

.predstavitev img {
    border-radius: 20px;
}

.predstavitev .sectionHeader img {
    height: 600px;
    width: 600px;
    margin-top: -330px;
}

.predstavitev p {
    color: white;
}

.predstavitev #paragraph1, #paragraph2, #paragraph3, #paragraph4 {
    max-width: 400px;
}

#paragraph1 {
    left: 200px;
    bottom: 75px;
}

#paragraph2 {
    left: 900px;
    bottom: -275px;
}

#paragraph3 {
    left: 200px;
    top: 1000px;
}

#paragraph4 {
    left: 900px;
    top: 1300px;
}

#line1 {
    width: 500px;
    height: 500px;
    left: 420px;
    bottom: -315px;
    rotate: 20deg;
}

#line2 {
    left: 620px;
    top: 680px;
    height: 450px;
    rotate: 10deg;
}

#line3 {
    top: 1120px;
    left: 450px;
    height: 400px;
    rotate: 69deg;
}

#img1 {
    left: 950px;
    bottom: -75px;
    height: 300px;
    box-shadow: 0px 2px 10px 0px white;
}

#img2 {
    left: 150px;
    top: 520px;
    height: 400px;
    box-shadow: 0px 2px 10px 0px white;
}

#img3 {
    left: 950px;
    top: 900px;
    height: 300px;
    box-shadow: 0px 2px 10px 0px white;
}

#specialTxt1 {
    top: 1480px;
    font-family: "Satisfy", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    left: 280px;
}

#specialTxt2 {
    top: 1560px;
    width: 800px;
    left: 320px;
}

#txtExtra {
    display: inline-block;
    text-align: center;
    width: 100%;
}

/*==PONUDBA==*/

.ponudba {
    margin-top: 80%;
}

.ponudba .sectionHeader img {
    height: 450px;
    width: 450px;
    margin-top: -260px;
}

.cardsTop {
    margin-top: -10%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.cardsBottom {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 5%;
    margin-bottom: 2%;
}

/*==PONUDBA CARDS==*/

.card {
    background-color: white;
    border-radius: 20px;
    width: 300px;
    height: 250px;
    padding: 10px;
}

.card button {
    background-color: #EEBA2B;
    color: white;
    border: none;
    border-radius: 100px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;

}

.slikaPonudbe {
    background-color: #EEBA2B;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    padding: 10px;
}

.card img {
    height: 50px;
}

.card p {
    font-size: 25px;
    color: #EEBA2B;
}

.cardTop img {
    margin-right: 30%;
}

.cardTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cardTop button  {
    max-height: 40px;
    margin-right: 20px;
}

.cardBottom button {
    width: 90%;
    margin-left: 15px;
}

/*==KONTAKT==*/

.kontakt .sectionHeader img {
    height: 400px;
    margin-top: -240px;
}

.kontakt h2, p {
    color: white;
}

.kontaktniPodatki {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: -10%;
}

.contactCard {
    background-color: #848484;
    box-shadow: 0px 2px 10px 0px white;
    border-radius: 20px;
    padding: 10px;
    width: 500px;
}

iframe {
    box-shadow: 0px 2px 10px 0px white;
    border-radius: 20px;
}

/*==FOOTER==*/

footer {
    display: flex;
    justify-content: space-around;
    background-color: black;
    padding: 20px;
    margin-top: 40px;
}

footer a {
    color: #848484;
    text-decoration: none;
}

.quickLinks, .logoSocialMedia, .contactInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer .logo img {
    height: 100px;
}

.socialMedia {
    display: flex;
    gap: 60px;
}

.socialMedia img {
    height: 30px;
}